<center><br><br>
    <h1>Information of Voiture <font color="red"><b>{{ Libelle }}</b></font></h1>
<table border=""1">
<tr>
    <td>id</td>
    <td>Libelle</td>
    <td>Pays</td>
</tr>
<tr>
<tr>
    <td>{{  id }}</td>
    <td>{{  Libelle }}</td>
    <td>{{  Pays }}</td>
</tr>

</table>
<h2><a href="{{ path('list_v') }}">Retour</a> </h2>
</center>